@use "../../styles/variables";

.input {
  background: variables.$black;
  color: variables.$white;
  border: 4px solid variables.$btnDefault;
  padding-left: 0.4rem;
  outline: none;
  transition: 100ms ease-in-out;
  
  &:focus {
    border: 4px solid variables.$white;
  }
  
  &:disabled {
    cursor: not-allowed;
    background: variables.$lineCenter;
  }

  &::selection {
    background-color: variables.$white;
    color: variables.$btnHover;
  }
}