@use '../styles/variables';

.switch {
  width: 50px;
  height: 25px;
  appearance: none;
  position: relative;
  background: variables.$bg;
  cursor: pointer;

  &:checked[type='checkbox'] {
    background: variables.$bgChecked;
  }

  &::before {
    content: '';
    position: absolute;
    padding: 1rem 0.4rem;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 99;
    transition: all 200ms;
    background: variables.$check;
  }

  &:checked[type='checkbox']::before {
    left: 80%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    background: variables.$lineCenterChecked;
  }
  
  &:checked[type='checkbox']::after {
    background: variables.$lineCenter;
  }
}

@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
      @content;
  }
}

.checkbox {
  width: 32px;
  height: 32px;
  background: variables.$bg;
  appearance: none;
  border: 2px solid variables.$black;

  &:active {
    @include animate(fade-out, 100ms, ease-in-out, 1);
  }

  &:checked {
    background-image: url('../../assets/grass.jpg');
    background-size: contain;
    background-position: center center;

    &:active {
      @include animate(fade-in, 100ms, ease-in-out, 1);
    }
  }
  @include keyframes(fade-in) {
    0% {
      transform: scale(0.1);
    }
    
    100% {
      transform: scale(1);
    }
  }
  
  @include keyframes(fade-out) {
    0% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(0.1);
    }
  }
}