@use "../styles/variables";
@use "../styles/base.scss";

.wrapper {
  position: relative;
  max-width: 50rem;
  max-height: 30rem;
}

.imageWrapper {
  border: 12px solid variables.$check;
  border-top: 18px solid variables.$check;
  border-radius: 3px;
  background: variables.$darkGrey;
  overflow: hidden;
  
  &::before {
    content: '';
    width: 0.4rem;
    filter: blur(5px);

    height: 90%;
    background: variables.$white;
    position: absolute;
  }

  .image {
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}

.buttonsWrapper {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 2rem);
}

.dotsWrapper {
  position: absolute;
  transform: translateX(-50%);
  bottom: 1%;
  left: 50%;
  display: flex;
  gap: 0.4rem;
  
  .btnDots {
    width: 0.6rem;
    height: 0.6rem;
    background: variables.$fontColor;
  }
}
