@use "../styles/variables" as *;
@use "../styles/base.scss";

.default {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: $rounded-sm;
  transition: all 350ms ease;

  &[data-nofullscreen="true"] {
    @media (max-width: 768px) {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.small {
  padding: 0.4rem 1.2rem;
}

.medium {
  padding: 0.8rem 2.8rem;
}

.large {
  padding: 1.2rem 5.2rem;
}

.primary {
  background: $purple;
  color: $white;

  &:hover {
    background: $purple-hover;
  }

  &:active {
    background: $purple-active;
  }

  &:disabled {
    cursor: not-allowed;
    background: $disabled;
  }
}

.outline {
  background: inherit;
  border: 1px solid $purple;
  color: $purple;

  &:hover {
    border: 1px solid $purple-hover;
    color: $purple-hover;
  }

  &:active {
    border: 1px solid $purple-active;
    color: $purple-active;
  }

  &:disabled {
    cursor: not-allowed;
    color: $disabled;
    border: 1px solid $disabled;
  }
}

.rounded {
  border-radius: 50%;
  padding: 1rem;
}

// example on storybook
.teste {
  background: red;
}
