@use "../styles/variables" as *;
@use "../styles/base.scss";

.defaultBtn,
.grass,
.none,
.outline {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  white-space: nowrap;
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  min-width: 9.6rem;
  border-radius: 2px;

  &[data-nofullscreen="true"] {
    @media (max-width: 768px) {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.defaultBtn,
.grass {
  border: 2px solid $bgChecked;
  position: relative;
  color: $white;
}

.outline {
  border: 3px solid $bgChecked;
  background: transparent;
  color: $bgChecked;
}

.defaultBtn {
  background: $bgChecked;
}

.defaultBtn,
.outline {
  &::before,
  &:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
  }

  &::before {
    background: $fontDisable;
  }

  &:hover {
    background: $blueHover;
    border: 3px solid $blueHover;
    color: $fontHover;
  }

  &:hover::before {
    background: $blueGradientHover;
  }

  &:disabled {
    background: $darkGrey;
    cursor: not-allowed;
    color: $fontDisable;
  }

  &:disabled::before {
    display: none;
  }
}

.grass {
  background-color: $greyDefault;
  background-image: url("../assets/grass.jpg");
  background-size: contain;
  background-position: center center;

  &:active {
    background-image: url("./assets/variant-grass.jpg");
  }
}

.teste {
  background: red;
}