@use "../../styles/variables";

.defaultBtn, .grass, .none {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  justify-content: center;
  white-space: nowrap;
  font-size: 2.4rem;
  padding: 0.4rem 1rem;
}

.defaultBtn, .grass {
  border: 2px solid variables.$greyDefault;
  position: relative;
}

.defaultBtn {
  background: variables.$greyDefault;
  
  &::before, &:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
  }
  
  &::before {
    background: variables.$greyGradient;
  }

  &:hover {
    background: variables.$blueHover;
    color: variables.$fontHover;
  }

  &:hover::before {
    background: variables.$blueGradientHover;
  }

  &:disabled {
    background: variables.$darkGrey;
    cursor: not-allowed;
    color: variables.$fontDisable;
  }

  &:disabled::before {
    display: none;
  }
}

.grass {
  background-color: variables.$greyDefault;
  background-image: url('../../assets/grass.jpg');
  background-size: contain;
  background-position: center center;

  &:active {
    background-image: url('./assets/variant-grass.jpg');
  }
}
