.arrow {
  user-select: none;

  &[data-orientation="top"] {
    transform: rotate(-90deg);
  }

  &[data-orientation="down"] {
    transform: rotate(90deg);
  }

  &[data-orientation="left"] {
    transform: rotate(180deg);
  }
}
