@use "../styles/variables";

.wrapper {
  max-width: 42rem;
  
  .list {
    transition: 100ms ease-in-out;
    background: variables.$black;
    display: flex;
    flex-direction: column;
    border: 4px solid variables.$greyDefault;
    border-top: 0;
    overflow-x: hidden;
    
    &[data-open=true] {
      border: 4px solid variables.$white;
      border-top: 0;
    }
    
    .item {
      transition: 100ms ease-in-out;
      padding: 0.4rem 0.6rem;
      cursor: pointer;
      border-bottom: 4px solid variables.$greyDefault;
      font-size: 2.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      
      &[data-open=true] {
        border-bottom: 4px solid variables.$white;
      }
      
      &:focus-within, &:hover {
        background: variables.$white;
        color: variables.$black;
      }
    

      &:last-child {
        border-bottom: none;
      }

      .button {
        width: 100%;
        display: block;
        font-size: 2.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        text-align: start;

        color: inherit;
      }
    }
  }
}