@use "../styles/variables" as *;
@use "../styles/base.scss";

.wrapper {
  max-width: 42rem;

  .list {
    transition: 350ms ease-in-out;
    display: flex;
    flex-direction: column;
    border: 1px solid $spacer-light;
    overflow-x: hidden;

    .item {
      border: 1px solid $spacer-light;
      transition: 100ms ease-in-out;
      padding: 0.4rem 0.6rem;
      cursor: pointer;
      font-size: 2.4rem;
      color: $black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:focus-within,
      &:hover {
        background: $purple;
        color: $white;
      }

      &:last-child {
        border-bottom: none;
      }

      .button {
        width: 100%;
        display: block;
        font-size: 2.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        text-align: start;

        color: inherit;
      }
    }
  }
}
