@use "../styles/variables" as *;
@use "../styles/base.scss";

.root {
  cursor: text;
  gap: 0.8rem;
  background: inherit;
  display: flex;
  border: 1px solid $border;
  width: 100%;
  transition: 350ms ease-in-out;
  border-radius: $rounded-sm;
  position: relative;

  &[data-error="true"] {
    border-color: $error;
  }

  &:focus-within {
    border-color: $purple;
  }

  .hidden {
    outline: none;
    padding: 1.2rem;
    border: none;
    background: none;
    width: 100%;
    color: $black;

    &::placeholder {
      color: $border;
    }

    &:disabled {
      background: $disabled;
      cursor: not-allowed;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0.4rem;
  }
}

.error {
  position: absolute;
  bottom: -1.6rem;
  right: 1%;
  color: $error;
  font-size: 1.2rem;
}
