@use "../styles/variables";
@use "../styles/base.scss";

.inputVariant {
  cursor: text;
  padding: 0.2rem;
  background: variables.$white;
  display: flex;
  border: 4px solid variables.$black;
  width: 100%; 
  transition: 100ms ease-in-out;
  
  &:focus-within {
    border: 4px solid variables.$greyDefault
  }

}

.input {
  cursor: text;
  gap: 0.8rem;
  padding: 0.2rem;
  background: variables.$black;
  display: flex;
  border: 4px solid variables.$greyDefault;
  width: 100%; 
  transition: 100ms ease-in-out;
  
  &:focus-within {
    border: 4px solid variables.$white;
  }
  
  .hidden {
    outline: none;
    padding: 0.4rem 0;
    border: none;
    background: none;
    width: 100%;
    color: variables.$white;

    &:disabled {
      cursor: not-allowed;
    }

    &::selection {
      background-color: variables.$white;
      color: variables.$blueHover;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}